* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?cs=srgb&dl=astrology-astronomy-background-image-956981.jpg&fm=jpg");
  font-size: 24px;
  color: white;
}

/*baseline media sizing, mobile first */
section {
  background-color: rgba(9, 11, 29, 0.651);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 10px;
}

header {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}


header>img {
  max-width: 50px;
  max-height: 50px;
  align-items: center;
  margin: 5px;
  background: linear-gradient(90deg, rgba(22, 34, 37, 1) 0%, rgba(221, 220, 226, 1) 50%, rgba(22, 34, 37, 1) 100%);
  height: auto;
  width: auto;
}

#quiz-title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.offer-to-start-quiz {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

.questions,
.next-question {
  display: block;
  align-items: left;
  justify-content: left;
  padding-bottom: 20px;
  width: 80%;
}

.next-question,
.verify,
#verify,
#next,
#final {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  vertical-align: middle;
}


.progress {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

ul {
  list-style: none;
}


a:link {
  color: white;
  text-emphasis: bold;
}

a:visited {
  color: greenyellow;
}

a:hover {
  color: gold;
}

.answers {
  background-color: #364570;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-bottom: none;
}

.snark {
  text-decoration-line: overline underline;
  text-decoration-color: rgb(19, 89, 110);
  font-size: 30px;
}

@media screen and (min-width: 500px) {

  /*sizing tablets small laptops*/
  section, .questions {
    width: 60%;
  }

  header > img{
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
  }
}

@media screen and (min-width: 800px) {

  /*sizing tablets and desktop*/
  section, .questions {
    width: 33%;
  }
}
